body{
background: linear-gradient(to right,green, white);
}


p {
font-family:Raleway;
clear:both;
margin-bottom:-5px;

}
.new1{
border-style:solid;
border-color:pink;
color:red;
width:41%;
float:left;

}

.new2{
border-color:black;
border-style:solid;
width:57%;
float:right;



}

.new3{
border-color:pink;
border-style:solid;
width:100%;
float:left;
}

.numbering{
font-weight:lighter;
font-size:50px;
margin-left:0%;
margin-top:70px;
}
.img1{
width:150px;
height:120px;
float:right;
margin-top:-50px;
border:1px solid black;


}


.list{
float:left;
margin-top:-70px;
margin-left:0px;
font-size:25px;


}




img{


width:70px;
heigh:70px;
}
Yesterday at 11:00 PM
Samar
<!DOCTYPE html>
<html>
<head><meta name="viewport"conte­nt="width=device-wid­th, initial-scale=1.0">
<link href="https://­fonts.googleapis.com/­css?family=Raleway%3A­300" rel="stylesheet">
<link href="https://­fonts.googleapis.com/­css?family=Kaushan+Sc­rip|Permanent+Marker|Sa­tisfy|Shrikhand|Lobs­ter" rel="stylesheet">
<title>Page </title>
<style>
body{
background: linear-gradient(to right,white, white);
}


p {
font-family:Raleway;
clear:both;
margin-bottom:-5px;

}
.new1{
border-style:solid;
border-color:pink;
color:red;
width:41%;
float:left;

}

.new2{
border-color:black;
border-style:solid;
width:57%;
float:right;



}

.new3{
border-color:pink;
border-style:solid;
width:100%;
float:left;
}

.numbering{
font-weight:lighter;
font-size:50px;
margin-left:0%;
margin-top:70px;
}
.img1{
width:150px;
height:120px;
float:right;
margin-top:-50px;
border:1px solid black;


}


.list{
float:left;
margin-top:-70px;
margin-left:0px;
font-size:25px;


}




img{


width:70px;
heigh:70px;
}